Package: example
Version: 1.0.0.2
Architecture: amd64
Essential: no
Section: web
Priority: optional
Depends: bash (>=4.2)
Maintainer: Dieter Reuter <dieter.reuter@me.com>
Installed-Size: 84
Description: A pure simple Example application for testing a Debian package.
